:root{
    --accent-color: #434455;
    --primary-text-color: #2E2F42;
    --background-color: #4D5AE5;
    --letter-spacing: 0.02em;
}

.list {
    list-style: none;
    display: flex;
    align-items: center;

}
.link {
    text-decoration: none;
}
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    outline: solid red;
    /* padding-bottom: 24px;
    padding-top: 24px; */
}
.about {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 156px;
    padding-right: 156px;
}
body {
font-family: 'Roboto', 'Verdana', 'Tahoma', sans-serif;
}
h1, h2, h3, p {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
}
button {
    cursor: pointer;
}
img {
    display: block;
}
/* ==============Components================ */
.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    /* display: flex;
    align-items: center; */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    /* NAVY BLUE */
    color:var(--primary-text-color);
    text-decoration: none;
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.accent {
    /* IRIS */
    color:var(--background-color);
}
.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: var(--letter-spacing);
    /* NAVY BLUE */
    color:var(--primary-text-color);
}  
.menu-link:hover,
.menu-link:focus
 {
    color: var(--accent-color);
}
.contact-mail {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: var(--letter-spacing);
    /* SLATE */
    color: var(--accent-color);
}
.contact-mail:hover,
.contact-mail:focus,
.phone-number:hover,
.phone-number:focus {
    color: var(--background-color);
}
.phone-number {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: var(--letter-spacing);
    /* SLATE */
    color:var(--accent-color);
}
.container-header{
    display: flex;
    align-items: center;
}
.footer{
    background: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 0;
    padding-right: 0;
}
.text-footer {
    font-size: 16px;
    line-height: 1.5;
    /* CORNFLOWER */
    color: #E7E9FC;
    margin-top: 16px;
    }
/* ==============/Components================ */




/* ==================Hero=================== */
.list-our-team{
    background: #F4F4FD;
}
.menu{
    /* margin-right: 332px; */
    gap: 40px;
}
.menu-contacts{
    display: flex;
    gap: 40px;
}
.page-nav{
    display: flex;
    margin-right: auto;
    /* gap: 40px; */
}
.hero{
    background:var(--primary-text-color);
    padding-top: 188px;
    padding-bottom: 188px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    
}
.modal-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* display: flex;
    align-items: center; */
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    border-radius: 4px;

}
.portfolio-btn{
    color: var(--background-color);
    background: #F4F4FD;
    /* CORNFLOWER */
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    }
.modal-btn:hover,
.modal-btn:focus {
    color: #FFFFFF;
    background-color:var(--background-color);
}
.modal-btn:active{
    color: #FFFFFF;
    background-color: #404BBF;;
}
.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    /* text-align: center; */
    letter-spacing: var(--letter-spacing);
    color: #FFFFFF;
    
}
.title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    /* text-align: center; */
    letter-spacing: var(--letter-spacing);
    text-transform: capitalize;
    /* NAVY BLUE */
    color: var(--primary-text-color);
}
.suptitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: var(--letter-spacing);
    /* NAVY BLUE */
    color:var(--primary-text-color);
    margin-bottom: 8px;
}
.list-suptitle{
    gap: 24px;
}
.suptitle-team, .suptitle-services {
    margin-top: 32px;
    margin-bottom: 32px;
}
.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: var(--letter-spacing);
    /* SLATE */
    color:var(--accent-color);
}
.gallery {
    padding-bottom: 120px;
}
/* ================/Hero==================== */

/* ==============Footer===================== */
.logo-footer{
    background: #2E2F42;
}